html {
    font-family: "Roboto",serif;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
  }
* {
    margin: 0;
    padding: 0;
}
body {
    /* padding-left: 5rem;
    padding-right: 5rem; */
    /* width: 800px; */
}
header {
    /* height: 2rem; */
    background-color: #1f2937;
    padding: 0.5rem 8rem 0;
}
header nav {
display: flex;
justify-content: space-between;
align-items: center;
height: 2rem;
}
header nav .logo {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    font-weight: bold;
}
header nav li {
    display: inline;
}
header nav ul a {
    color: #e5e7eb;
    text-decoration: none;
}
.content {

}
.container {
    /* margin-top: ; */
        /* wi/dth: 800px;  */
        flex-direction: column;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 0 auto;     */
    /* padding: 4rem 5rem 0; */
}
.hero {
    /* margin: 5rem; */
    background-color: #1f2937;
    display: flex;
    padding: 8rem;
    /* margin: 0 auto; */
    justify-self: center;
}
.hero h1 {
    color: #f9faf8;
    font-size: 3rem;
}
.hero p {
    font-size: 1.2rem;
    color: #e5e7eb;
}
.hero button {
    background-color: #3882f6;
    color: #faf9f8;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border-color: #3882f6;
    margin-top: 20px;
    font-weight: bold;
}
.hero .image {
    background-color: gray;
    width: 50%;
    flex: 1;
    margin-left: 30px;
    /* align-self: center; */
    /* height: 100%; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */

}
.hero .intro {
    width: 50%;
flex: 1;
}
.hero .image p {
    margin: auto; 
    
}
.info {
    padding: 2rem 5rem;
}
.info-title {
    text-align: center;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* height: 400px; */
}
.item {
  display: flex;  
    flex-direction: column;
    align-items: center;
}
.square {
width: 150px;
height: 150px;
border: 3px solid blue;
border-radius: 10px;
margin: 0 20px;
}
.caption {
    margin-top: 5px;
  width: 150px;  
  font-size: 16px;
    text-align: center;
}
.quote {
    background-color: #e5e7eb;
    padding: 5rem 17rem;
}
.quote p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
}
.quote figcaption {
    font-size: 24px;
    font-weight: bold;
    /* float: right; */
    text-align: right;
}
.call {
    margin: 5rem 8rem;
}
.banner {
    display: flex;
    background-color: #3882f6;
    padding: 3rem 7rem;
    justify-content: space-between;
    align-items: flex-end;
}
.banner h1 {
    font-size: 24px;
    color: #e5e7eb;
}
.banner p {
    color: #e5e7eb;
}
.banner button {
    padding: 5px 30px;
    background-color: #3882f6;
    border: 3px solid #e5e7eb;
    font-weight: bold;
    color: #e5e7eb;
    border-radius: 5px;
}
footer {
    background-color: #1f2937;
    color: #f9faf8;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}